/* padding */
*{
    border: 1px solid;
}
.pad{
    border: 3px solid black;
    background-color: salmon;
     padding: 100px 50px;
    
    /* padding-top: 100px; 
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 100px; */
}
.mar{
    background-color: palevioletred;
    border: 3px solid red;
    width: 150px;
    margin: 100px 50px;
   
}
/* margin */
