div{
    height: 100px;
    width: 100px;
    background-color: rgb(224, 214, 23);
    position: relative;
    /* animation-name: colorchange;
    animation-duration: 13s;
    animation-delay: 2s;
    /* animation-iteration-count: infinite; */
   /* animation-direction: reverse;
   animation-fill-mode: both; */ 

   animation: colorchange 8s linear 2s 3 alternate-reverse both;
}
#ease{
    animation-timing-function: ease;
}
#linear{
    animation-timing-function: linear;
}
#ease-in{
    animation-timing-function: ease-in;
}
#ease-out{
    animation-timing-function: ease-out;
}
#ease-in-out{
    animation-timing-function: ease-in-out;
}
@keyframes colorchange{
   0%{background-color: rgb(107, 255, 15);
    top: 0;
    left: 0px;
    }
    50%{
        background-color: salmon;
        top: 200px;
        left: 200px;
    }
    25%{
        background-color: pink;
        top: 200px;
        left: 0px;

    }
    75% {background-color: blue; 
    top: 0px;
    left: 200px  ;}
    100%{background-color: rgb(255, 15, 143);
        top: 0;
        left: 0px;
        }
}